@charset "utf-8";

/* ========== UHD main-logo start ========== */

#main-logo { position: fixed; left: 50%; transform: translateX(-50%); z-index: 9; }
#main-logo h1 { line-height: 80px; }
#main-logo h1 img { height: 30px; }

/* ========== //UHD main-logo end ========== */



/* ========== UHD main-copyright start ========== */

.copyright { position: absolute; bottom: 30px; width: 100%; text-align: center; }
.copyright p { color: #626262; }

/* ========== //UHD main-copyright end ========== */



/* ========== UHD sub-header start ========== */

/* ===== header ===== */

header { 
	float:left; position: fixed; width:100%; height:80px; padding:0 3%;
	border-bottom:1px solid rgba(226,226,226,0.2);
}
.logo { float:left; padding-top:25px; }
.logo a:last-child { display:none; }

.main-menu { margin-left:35%; }
.main-menu > li { position:relative; }
.main-menu > li > a { padding:35px 30px 15px 30px; color:rgba(255,255,255,0.9); }

.sub-menu { display:none; position:absolute; left: 0; top:77px; }
.sub-menu li a { width:135px; padding:8px 0; color:#fff; text-align: center; }
.sub-menu li:first-child a { padding-top:20px; }
.sub-menu li:last-child a { padding-bottom:20px; border-radius:0 0 5px 5px; }

.top-menu { float:right; }
.top-menu li { 
	float:left; width:100px; height:30px; margin:30px 0 0 20px;
	border:1px solid rgba(255,255,255,0.6); border-radius:5px;
	background:rgba(255,255,255,0);
	transition:all 0.4s ease-in;
}
.top-menu li a { color:#FFF; text-align: center; text-transform: uppercase; line-height: 28px; border-radius:5px; }
.top-menu li a:last-child { display:none; }


#nav-fixed { 
	position:fixed; width:100%; margin-top:-80px; 
	background:#FFF; border-bottom:1px solid rgba(226,226,226,1.00);
	z-index: 9;
	transition:all 0.4s ease-in;
}
#nav-fixed .main-menu li a { color:#333; }
#nav-fixed .sub-menu li a { background:#F5F5F5; }
#nav-fixed .top-menu li a:first-child { color:#1b5e20; border:1px solid #1b5e20; }


.main-menu > li > a:hover { color: #CCC; } 
.sub-menu li a:hover { color:#CCC; }
.top-menu li:hover { background:rgba(255,255,255,0.2); }
.top-menu li:hover a:first-child { display:none; }
.top-menu li:hover a:last-child { display:block; font-size:20px; }
#nav-fixed .main-menu li a:hover { color: #1b5e20; }
#nav-fixed .top-menu li:hover { background:rgba(27,94,32,0.8); border:1px solid #1b5e20; }


#trigger, #trigger + label, #trigger-fixed, #trigger-fixed + label { display:none; }



/* ========== //UHD sub-header end ========== */



/* ========== UHD sub-footer start ========== */

footer { width:100%; height:220px; margin-top:150px; padding-top:50px; color:#FFF; background:#333;}
.ft-wrap { width:1300px; margin:0 auto;}
.ft-logo { float:left; width:215px; height:34px; margin-top:40px; transition:all 0.4s ease-in;}
.ft-wrap h4 { padding-bottom:20px; font-size:20px; font-weight: 700; text-align: center; text-transform: capitalize; }
.ft-contactus { float: left; width:340px; height:90px; margin-left:260px;  }
.ft-contactus>p { text-align: center; }
.ft-sns { float:right; width:260px; height:90px;  }
.ft-sns ul li {  width:40px; height:40px; margin:0 15px; padding-top:10px; transition:all 0.4s ease-in; }
.ft-sns ul li:nth-child(1) {margin-left:0;background:url("../imgs/footer/all-ft-instagram.png") no-repeat center center;}
.ft-sns ul li:nth-child(2) {background:url("../imgs/footer/all-ft-facebook.png") no-repeat center center;}
.ft-sns ul li:nth-child(3) {background:url("../imgs/footer/all-ft-youtube.png")no-repeat center center;}
.ft-sns ul li:nth-child(4) {margin-right:0; background:url("../imgs/footer/all-ft-blog.png") no-repeat center center;}
.ft-sns ul li a {width:100%; height:100%;}
.ft-wrap> p { padding-top:30px;  font-size:11px; color:#626262;text-align: center; letter-spacing: 2; }


.ft-sns ul li:nth-child(1):hover { background:url("../imgs/footer/all-instagram-color.png")no-repeat center center;}
.ft-sns ul li:nth-child(2):hover {background:url("../imgs/footer/all-facebook-color.png")no-repeat center center;}
.ft-sns ul li:nth-child(3):hover {background:url("../imgs/footer/all-youtube-color.png")no-repeat center center;}
.ft-sns ul li:nth-child(4):hover {background:url("../imgs/footer/all-blog-color.png")no-repeat center center;}

/* ========== //UHD sub-footer end ========== */


/* ===== UHD main-index ===== */

section { width: 100%; height: 100%; }

/* main slider */
.slider { overflow: hidden; position: relative; width: 100vw; height: 100vh; }
.slider .slide_list { position: absolute; height: 100vh; }
.slider .slide_list .slide { overflow: hidden; float: left; width: 100vw; height: 100vh; }
.slider .slide_list .slide img { width: 100vw; height: 100vh; }

/* slide prev & next button */
#prev, 
#next { position: absolute; left: 50%; top: 50%; width: 40px; height: 80px; background-size: cover; transform: translate(-50%, -50%); z-index: 9; transition: background-image .3s; }
#prev { margin-left: -630px; background: url("../imgs/main-sc-slide-prev.png") no-repeat center center; }
#next { margin-left: 630px; background: url("../imgs/main-sc-slide-next.png") no-repeat center center; }

#prev:hover { background: url("../imgs/main-sc-slide-prev-color.png") no-repeat center center; }
#next:hover { background: url("../imgs/main-sc-slide-next-color.png") no-repeat center center; }

/* slide bullet */
.bullet_list { position: absolute; left: 50%; bottom: 100px; width: 1400px; height: 80px; margin: 0 auto; transform: translateX(-50%); z-index: 9; }
.bullet_list .bullet { position: absolute; bottom: 0; width: 25%; height: 80px; text-align: center; line-height: 80px; background: rgba(27, 87, 31, 0.7); transition: all .3s; }
.bullet_list .bullet:nth-of-type(1) { left: 0; }
.bullet_list .bullet:nth-of-type(2) { left: 25%; }
.bullet_list .bullet:nth-of-type(3) { left: 50%; }
.bullet_list .bullet:nth-of-type(4) { left: 75%; }
.bullet_list .bullet a { position: relative; width: 100%; height: 100%; font-size: 30px; font-weight: bold; color: rgba(255, 255, 255, .9); text-transform: capitalize; }
.bullet_list .bullet a::after { content: ""; position: absolute; left: 50%; bottom: 25px; width: 70px; height: 0; background-size: cover; transform: translateX(-50%); opacity: 0; transition: all .3s; }
.bullet_list .bullet:nth-of-type(1) a::after { background: url("../imgs/main-sc-uhd-slide-btn01.png") no-repeat center center; }
.bullet_list .bullet:nth-of-type(2) a::after { background: url("../imgs/main-sc-uhd-slide-btn02.png") no-repeat center center; }
.bullet_list .bullet:nth-of-type(3) a::after { background: url("../imgs/main-sc-uhd-slide-btn03.png") no-repeat center center; }
.bullet_list .bullet:nth-of-type(4) a::after { background: url("../imgs/main-sc-uhd-slide-btn04.png") no-repeat center center; }

.bullet_list .bullet:hover { height: 160px; background: rgba(27, 87, 31, 1); }
.bullet_list .bullet:hover a { color: #f6edde; }
.bullet_list .bullet:hover a::after { height: 70px; opacity: 1; }

.bullet_list .bullet.active_bullet { height: 160px; background: rgba(27, 87, 31, 1); }
.bullet_list .bullet.active_bullet a { color: #f6edde; }
.bullet_list .bullet.active_bullet a::after { height: 70px; opacity: 1; }

/* ===== //UHD main-index end ===== */



/* ===== UHD vegan-index start ===== */

/* ===== section - vegan banner ===== */
.vegan.banner {
	width:100%; height: 580px; 
	background:url("../imgs/vg-bn-uhd-vegan.png") no-repeat center center;
}
.banner h2 { padding-top:240px; font-size: 80px; }
.banner p { font-size: 40px; }

/* ===== title ===== */
h3 { margin-top:120px; font-size: 30px; }
h3 + p { margin-top:10px; font-size: 20px; text-transform: capitalize; }



/* ===== section - wrap ===== */
.vg-sc-wrap {
	width:1400px; margin:0 auto;
}



/* ===== section - first info group ===== */
.vg-explain {
	margin:60px 150px 0 150px; padding:30px 0; line-height:30px; 
	border-top:1px solid #c9c9c9;
	border-bottom:1px solid #c9c9c9;
}
.vg-explain > strong {
    color:#1b5e20;
}
.vg-explain > span { 
	font-weight:bold; 
}



/* ===== section-second info group ===== */
.vg-sc-wrap > div {
	height:600px; margin:60px auto 0;
	background:#fdf7ed;
    text-align:center;
}
.vg-sc-wrap > div p {
	padding-top:22px;
	font-weight:bold;
}
.vg-vcbar {
	width:2px; height:120px; margin:30px auto;
	border-left:2px solid #ebd2a8;
}
.vg-sc-wrap ul li {
	position:relative;
	width:360px; height:450px; margin-left:80px;
}
.vg-sc-wrap ul li:first-child {
	background:url("../imgs/vg-sc-uhd-healthy.jpg")  no-repeat center top;
}
.vg-sc-wrap ul li:nth-child(2) {
	background:url("../imgs/vg-sc-uhd-nature.jpg")  no-repeat center top;
}
.vg-sc-wrap ul li:last-child {
	background:url("../imgs/vg-sc-uhd-protect.jpg")  no-repeat center top;
}
.vg-sc-wrap ul li div {
	width:360px; height:450px; margin:0 auto;
    background:rgba(0,0,0,0.5);
	opacity: 0;
    transform: scale(0);	
    transition: all 0.3s ease-in;
}
.vg-sc-wrap ul li h4 {
	position:absolute; left:0; top:80px;	
	font-family: 'Roboto', sans-serif; font-size:30px; font-weight:bold; color:#fff;
	opacity:0;
	transition: all 0.3s ease-in 0.2s;
}
.vg-sc-wrap ul li div .vg-mid-bar {
	position:absolute; left:50%; top:110px;
	width:80px; height:1px; margin-left:-40px;
	background:#fff;
	opacity:0;
	transform: scale(1);
	transition:all 0.3s ease-in 0.5s;
}
.vg-sc-wrap ul li div p {
	position:absolute; right:-50px; top:140px;
	width:250px;
	font-size:16px; color:#fff; font-weight:400; letter-spacing:1px;
	text-align:left; line-height:32px;
	opacity:0;
	transition:all 0.3s ease-out 1.0s;
}
.vg-sc-wrap ul li:hover div {	
	transform: scale(1);
	opacity:1;
}
.vg-sc-wrap ul li:hover h4 {
	left:50%; transform:translateX(-50%);
	opacity:1;
}
.vg-sc-wrap ul li:hover .vg-mid-bar {
	top:140px;
	opacity:1;
}
.vg-sc-wrap ul li:hover p {
	right:50%; transform:translateX(50%);
	opacity:1;
}

/* ===== //UHD vegan-index end ===== */



/* ===== UHD nutrit-index start ===== */

/* ===== banner ===== */
.nutrition.banner { height:580px; background: url("../imgs/nutrition/nt-bn-uhd.jpg") no-repeat center center; }
/*.banner h2 { padding-top:230px; font-size: 80px; }
.banner p { font-size: 40px; }*/


/* ===== title ===== */

/*h3 { margin-top:120px; font-size: 30px; }
h3 + p { margin-top:10px; font-size: 20px; }*/



/* ===== 유형별 영양 가이드 Nutritional Type Guide ===== */
.regularTwoShow, .regularOneShow { display:none; }

.type { width:1190px; margin:60px auto; }
.nutrition-type-card { height:380px; border:1px solid #c8e6c9; box-shadow: 0 0 3px rgba(0,0,0,0.2); overflow: hidden; }
.nutrition-type-card img { width:100%; height:220px; border-bottom:1px solid #c8e6c9; transition:all 0.3s ease-in; }
.nutrition-type-card:hover img { transform:scale(1.1) translateY(-10px); }
.nutrition-type-card  h4 { 
	padding: 30px 0 15px 0;
	font-size: 18px; text-align: center; 
}
.nutrition-type-card ul li { width:50%; line-height: 25px; }
.nutrition-type-card ul li:first-child {
	float: left; padding:0 10px 10px 0; 
	font-family: 'Roboto', sans-serif; color:#ff6f00; text-align: right; 
}
.nutrition-type-card ul li:nth-child(2) {
	float: right; padding: 0 0 10px 10px; 
	text-align: left; 
}
.slick-slide { margin: 0px 15px; }
.slick-slide { transition: all ease-in-out .3s; opacity: .2; }
.slick-active { opacity: 1; }
.slick-active:hover { opacity: .7; }





/* ===== 하루 영양 권장량 Daily Nutritional Amount ===== */
.nutrition-amount-title { margin-top:180px; }

.nutrition-amount-age, .nutrition-amount { width:790px; margin:0 auto; }

.nutrition-amount-age li { 
	height:60px; margin-top:60px; 
	font-size:17px; line-height: 60px; 
	background: #fff8e1; border-top: 3px solid #666666; border-bottom: 1px solid #e5e5e5; 
}
.nutrition-amount-age li:first-child { width:70px; border-right: 1px solid #dcdcdc; }
.nutrition-amount-age li:nth-child(2) { width:360px; padding-left: 210px; }
.nutrition-amount-age li:nth-child(3) { width:360px; padding-left: 140px; }


.nutrition-amount > li:first-child {
	width: 70px; height: 340px;
	line-height: 340px; text-align: center; font-weight: bold; 
	background: #f9f9fb; border-right: 1px solid #dcdcdc;
}
.nutrition-amount .female { border-top: 1px solid #eeeeee; }
.nutrition-amount li ul { width:360px; height: 340px; border-bottom: 1px solid #eeeeee; }
.nutrition-amount li ul li { padding:20px 0; line-height: 60px; }
.nutrition-amount li ul li:first-child { padding-right:50px; text-align: right; }
.nutrition-amount li:nth-child(2) ul li:first-child { width: 270px; }
.nutrition-amount li:nth-child(3) ul  li:first-child { width: 200px; }
.nutrition-amount li.female, .nutrition-amount li ul { border-bottom: 2px solid #666666; }
.nutrition-amount .no ul { border-bottom: 1px solid #eeeeee; }








/* ===== Nutrition-Space ===== */

.nutrition-space { 
	width:100%; height: 500px; margin:150px auto; 
	background: url("../imgs/nutrition/nt-space-uhd.jpg") no-repeat center center;
    background-size:cover;
    background-attachment: fixed; 
}
.nutrition-space p { font-weight:bold; text-transform: uppercase; }
.nutrition-space p:first-child { padding:180px 0 0 40%; color:#e8f5e9; font-size:50px; text-shadow:0 0 3px rgba(0,0,0,0.4); }
.nutrition-space p:last-child { margin:-55px 0 0 45%; color:rgba(255,255,255,0.9); font-size: 100px; text-shadow:1px 2px 3px rgba(0,0,0,0.9); }






/* ===== 채식 속 영양 Vegetarian Nutrition ===== */

/* ===== Tab ===== */

.nutrition-tab { position:relative; width:1300px; margin:60px auto 0 auto; }

.nutrition-tab input {
	position:absolute; left:0; top:0; width:220px; height:60px; margin-bottom: 60px;
	opacity:0; cursor:pointer; z-index:999;
}
.nutrition-tab input#tab-2 { left:220px; }
.nutrition-tab input#tab-3 { left:440px; }
.nutrition-tab label { 
	display:block; float:left; position:relative; width:220px; height:60px; 
	color:#b1b1b1; text-align: center; line-height: 60px; 
	background:rgba(177,177,177,0.1); border-radius:5px 5px 0 0;
	border:1px solid #b1b1b1; 
}

.nutrition-tab label:after {
	content:"";
	opacity:0;
	display:block; position:absolute; left:0; bottom:-2px; width:100%; height:2px; 
	background:#FFF; z-index:6;
}
.nutrition-tab input:hover +label { 
	top:-1px; height:61px; 
	color: rgba(0,0,0,0.8); background: rgba(249,249,251,0.5); 
}
.tab-label-2 {z-index:3;}
.tab-label-3 {z-index:2;}

.nutrition-tab input:checked + label { 
	top:-2px; height:62px; 
	color:#333; font-size:17px; font-weight:bold;
	background:#FFF;
	border:1px solid #000; border-radius: 5px 5px 0 0; z-index:5; 
} 
.nutrition-tab input:checked + label:after { opacity:1; }


/* ===== Tab Content ===== */
.nutrition-card { 
	position:relative; left:0; top:59px; width:100%; height:1095px;
	border-top:1px solid #b1b1b1; z-index:1;
}
.nutrition-card-1, .nutrition-card-2, .nutrition-card-3 { 
	position:absolute; left:0; top:0; margin-top:20px; 
	opacity: 0; z-index: 1; 
	transition:opacity 0.2s ease-in; 
}
.nutrition-tab input.tab-selector-1:checked ~ .nutrition-card .nutrition-card-1,
.nutrition-tab input.tab-selector-2:checked ~ .nutrition-card .nutrition-card-2,
.nutrition-tab input.tab-selector-3:checked ~ .nutrition-card .nutrition-card-3 {
	opacity:1; z-index: 99; transition: opacity 0.3s ease-out 0.1s;
}

.nutrition-card-1 li, .nutrition-card-2 li, .nutrition-card-3 li {
	float: left;
	width:398px; height:298px; margin:40px 0 0 25px; 
    color:#F8F8F8;
	border-radius:10px; border:1px solid #dcdcdc; overflow: hidden; 
}
.nutrition-card-1 li div, .nutrition-card-2 li div, .nutrition-card-3 li div {
    width:398px; height:298px;
    background:rgba(0,0,0,0.1); 
	box-shadow: inset 0 0 10px 10px rgba(255,255,255,0.3);
    cursor:pointer;
    transition:all 0.4s ease-in;
}

.nutrition-card-1 li p, .nutrition-card-2 li p, .nutrition-card-3 li p { opacity:0; }
.nutrition-card-1 li p:first-child, .nutrition-card-2 li p:first-child, .nutrition-card-3 li p:first-child {
	padding-top:45px;  font-size:20px; font-weight:700; text-align: center;
	transition: all 0.2s ease-in;
}
.nutrition-card-1 li p:nth-child(2), .nutrition-card-2 li p:nth-child(2), .nutrition-card-3 li p:nth-child(2) {
	float:left; padding-top:30px; 
	text-align: right; line-height: 30px;	
	transition: all 0.3s ease-in;
}
.nutrition-card-1 p:last-child, .nutrition-card-2 p:last-child, .nutrition-card-3 p:last-child {
	float: right; padding-top:30px;
	line-height: 30px;	
	transition: all 0.3s ease-in 0.2s; 
}


.nutrition-card-1 li:hover div, .nutrition-card-2 li:hover div, .nutrition-card-3 li:hover div { 
	background:rgba(0,0,0,0.7); box-shadow:inset 0 0 1px 1px rgba(255,255,255,0.1); 
}
.nutrition-card-1 li:hover p:nth-child(2), .nutrition-card-2 li:hover p:nth-child(2), .nutrition-card-3 li:hover p:nth-child(2) {
	padding-left:130px;
}
.nutrition-card-1 li:hover p:last-child, .nutrition-card-2 li:hover p:last-child, .nutrition-card-3 li:hover p:last-child {
	padding-right:130px;
}

.nutrition-card-1 li:hover div p, .nutrition-card-2 li:hover div p, .nutrition-card-3 li:hover div p { opacity: 1; 
}

.nutrition-card-1 li:first-child { background: url("../imgs/nutrition/vege-1.jpg") no-repeat center center; }
.nutrition-card-1 li:nth-child(2) { background: url("../imgs/nutrition/vege-2.jpg") no-repeat center center; }
.nutrition-card-1 li:nth-child(3) { background: url("../imgs/nutrition/vege-3.jpg") no-repeat center center; }
.nutrition-card-1 li:nth-child(4) { background: url("../imgs/nutrition/vege-4.jpg") no-repeat center center; }
.nutrition-card-1 li:nth-child(5) { background: url("../imgs/nutrition/vege-5.jpg") no-repeat center center; }
.nutrition-card-1 li:nth-child(6) { background: url("../imgs/nutrition/vege-6.jpg") no-repeat center center; }
.nutrition-card-1 li:nth-child(7) { background: url("../imgs/nutrition/vege-7.jpg") no-repeat center center; }
.nutrition-card-1 li:nth-child(8) { background: url("../imgs/nutrition/vege-8.jpg") no-repeat center center; }

.nutrition-card-2 li:first-child { background: url("../imgs/nutrition/fruit-1.jpg") no-repeat center center; }
.nutrition-card-2 li:nth-child(2) { background: url("../imgs/nutrition/fruit-2.jpg") no-repeat center center; }
.nutrition-card-2 li:nth-child(3) { background: url("../imgs/nutrition/fruit-3.jpg") no-repeat center center; }
.nutrition-card-2 li:nth-child(4) { background: url("../imgs/nutrition/fruit-4.jpg") no-repeat center center; }
.nutrition-card-2 li:nth-child(5) { background: url("../imgs/nutrition/fruit-5.jpg") no-repeat center center; }
.nutrition-card-2 li:nth-child(6) { background: url("../imgs/nutrition/fruit-6.jpg") no-repeat center center; }
.nutrition-card-2 li:nth-child(7) { background: url("../imgs/nutrition/fruit-7.jpg") no-repeat center center; }
.nutrition-card-2 li:nth-child(8) { background: url("../imgs/nutrition/fruit-8.jpg") no-repeat center center; }

.nutrition-card-3 li:first-child { background: url("../imgs/nutrition/et-1.jpg") no-repeat center center; }
.nutrition-card-3 li:nth-child(2) { background: url("../imgs/nutrition/et-2.jpg") no-repeat center center; }
.nutrition-card-3 li:nth-child(3) { background: url("../imgs/nutrition/et-3.jpg") no-repeat center center; }
.nutrition-card-3 li:nth-child(4) { background: url("../imgs/nutrition/et-4.jpg") no-repeat center center; }
.nutrition-card-3 li:nth-child(5) { background: url("../imgs/nutrition/et-5.jpg") no-repeat center center; }
.nutrition-card-3 li:nth-child(6) { background: url("../imgs/nutrition/et-6.jpg") no-repeat center center; }
.nutrition-card-3 li:nth-child(7) { background: url("../imgs/nutrition/et-7.jpg") no-repeat center center; }
.nutrition-card-3 li:nth-child(8) { background: url("../imgs/nutrition/et-8.jpg") no-repeat center center; }

/* ===== //UHD nutrit-index end ===== */



/* ===== UHD recipe-index start ===== */

/*Recipe  banner  */
.recipe-banner { 
	height:580px;
	background:url("../imgs/recipe/rc-sc-uhd-bn-bg.jpg") no-repeat center center;
}
/*.recipe-banner h2 { padding-top:270px; font-size: 80px; }
.recipe-banner p {padding-top:10px; font-size: 40px;} */

/*Recipe  sub title  */
/*.recipe-sec h3 { padding-top:120px; font-size:30px;}
.recipe-sec h3 + p { font-size:20px; text-transform: capitalize; } */

/*Recipe seach box*/
.recipe-search {
	position:relative;
	width:1300px;/* height:420px;*/ margin:60px auto 0 auto; padding:50px 0;
	border-top:2px solid #E4E4E4;
	border-bottom:2px solid #E4E4E4;
}

/*Recipe seach bar*/
.search-box {
	position:absolute; left:50%; top:60px; height:40px;
	background:rgba(27,94,32,0.8); border-radius:40px;
	transform: translate(-50%,-50%);/*항상 정중앙*/
}

.search-txt {
	float:left; width:0; height:100%;
	color:#000;line-height:100%; text-indent: 15px;
	border:none;outline:none;background:none;
	transition:all 0.4s ease-out;
}
.search-btn {
    float:right;display:flex; justify-content: center; align-items: center;
	width:30px;height:30px; margin:5px;
	color:rgba(232,232,232,1);  background:rgba(27,94,32,0.4);border-radius:50%;
	transition:all 0.4s ease-in 0.2s;
}
.search-box:hover, .search-box:focus { background:#e8f5e9;}
.search-box:hover .search-txt, .search-box:focus .search-txt {width:240px;}
.search-box:hover  .search-btn , .search-box:focus  .search-btn { color:#FFF; background:rgba(27,94,32,0.8);}

/* Recipe  material button   */
.recipe-mtrlbtn { width:40%;height:40px;  margin:0 auto; margin-top:30px; }
.recipe-mtrlbtn li { float:left; width:20%; height:100%; padding:0 10px; }
.recipe-mtrlbtn input {
	display:block;width:100%; height:100%;
	z-index:9; opacity:0;
}
.recipe-mtrlbtn label {
	display:block; width:100%; height:100%;
	text-align:center;line-height:40px; 
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
    border:1px solid #E9E9E9;border-radius:5px;
	transition:all 0.2s ease-out; cursor:pointer;
}

.recipe-mtrlbtn input:hover + label { 
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#efefef+0,fbfff4+100 */
	background: rgb(239,239,239); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(239,239,239,1) 0%, rgba(251,255,244,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(251,255,244,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(239,239,239,1) 0%,rgba(251,255,244,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#fbfff4',GradientType=0 ); /* IE6-9 */

	box-shadow: inset 0 2px 5px rgba(0,0,0,0.1);

}
.recipe-mtrlbtn input:checked + label { 
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#efefef+0,fbfff4+100 */
	background: rgb(239,239,239); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(239,239,239,1) 0%, rgba(251,255,244,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(251,255,244,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(239,239,239,1) 0%,rgba(251,255,244,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#fbfff4',GradientType=0 ); /* IE6-9 */

	box-shadow: inset 0 2px 5px rgba(0,0,0,0.1);
}

/* Recipe  vegantype button   */
.recipe-typebtn { width:40%; height:80px; margin:0 auto; margin-top:60px;}
.recipe-typebtn li { width:20%; height:100%;padding:0 10px;}
.recipe-typebtn input {
	display:block;float:left;
	width:15px; height:15px; margin:5px 0 0 5px;
	cursor:pointer; border:0; outline:0;
}
.recipe-typebtn label {
	display:block; width:100%; height:100%; padding-top:20px;
	letter-spacing: -2px;text-align:center;
	border-bottom:1px solid #E4E4E4; border-radius:5px;
	border-right:1px solid #E4E4E4;	
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	/*border:1px solid #E9E9E9; border-radius: 8px;*/
	transition:all 0.2s ease-out;
}
.recipe-typebtn label i {
	display:block; padding-bottom: 5px;
	font-size:20px; color:rgba(0,0,0,0.4);text-align:center;
	transition:all 0.2s ease-out;
}
.recipe-typebtn input:hover + label,.recipe-typebtn input:checked + label { 
	color:#999;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#efefef+0,fbfff4+100 */
	background: rgb(239,239,239); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(239,239,239,1) 0%, rgba(251,255,244,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(251,255,244,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(239,239,239,1) 0%,rgba(251,255,244,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#fbfff4',GradientType=0 ); /* IE6-9 */
}
.recipe-typebtn input:hover +label i,.recipe-typebtn input:checked +label i {color: rgba(27,94,32,0.4); }

/* Recipe  card text  */
.recipe-card {width:1300px; margin:60px auto 0 auto;}
.recipe-card .p-total {float:left;padding-left:10px;}
.recipe-card .p-recent {float:right;padding-right:10px;}
.recipe-card .p-like {	float:right;padding-right:10px;}

/* Recipe   card */
.recipe-card ul {
	float:left; position:relative; width:380px;height:550px; margin:30px 25px; padding:0;
	box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
	border-radius:10px;
	transition:all 0.4s ease-in;
	overflow: hidden;
}
.recipe-card ul:nth-of-type(1),.recipe-card ul:nth-of-type(2),.recipe-card ul:nth-of-type(3) { margin-top:50px;}
.recipe-card ul li { float:none; padding:0; transition:all 0.4s ease-in; }
.recipe-card ul li img { display:block; width:400px; height:400px;  transition:all 0.2s ease-in;}
.recipe-card ul li:nth-child(2) { 
	padding:10px 0 10px 20px;
	font-size:28px; color:#07721A;  font-weight:bold; font-style: italic;
}
.recipe-card ul li:nth-child(3) { 
	padding:0 0 20px 20px; width:22em;color:#333; 
}
.recipe-card ul li .recipe-box { 
	position:absolute; left:0; top:600px; width:100%;height:100%; 
	transition:all 0.4s ease-in;
}
.recipe-card ul .recipe-box  h4 { padding-top:150px; font-size:34px; text-align:center; }
.recipe-card ul .recipe-box p { width:70%; margin:30px auto; text-align:center; }
.recipe-card ul .recipe-box a { 
	width:200px; height:60px; margin:30px auto; color:#FFF; 
	text-align:center; line-height:60px; 
	border:1px solid #FFF; border-radius:30px;   
	cursor:pointer;
}
.recipe-card ul:hover { box-shadow: 10px 10px 30px rgba(0,0,0,0.3);}
.recipe-card ul:hover img { transform:scale(2);}
.recipe-card ul:hover > li:nth-child(2) { transform:translateX(-500px); opacity:0; }
.recipe-card ul:hover > li:nth-child(3)  { transform:translateX(500px); opacity:0; }
.recipe-card ul:hover .recipe-box { 
	top:0px; color:#FFF; 
	background: rgba(0,0,0,0.75);
}

/*  Recipe more button  */
.moreBtn img {
display:block; width:55px;padding-top:80px; margin:0px auto;
}
.moreBtn p {
padding-top:15px;text-align: center;
}

/* Recipe layer popup  */
.recipe-modal {
	display:none;
	position:fixed; top:0;left:0;
	width:100%; height:100vh; 
	background:rgba(0, 0, 0, 0.6);
	z-index: 1000;
}
.recipe-modal-content {
	position:absolute; left:50%; top:50%; transform:translate(-50%,-50%);
	width:700px; height:600px; padding:30px;
	background:#FFF;
}
.recipe-modal-text {float:left; width:360px; height:300px; padding:10px; }
.recipe-modal-text h4{font-size:28px;}
.recipe-modal-text h4 strong { color:#f56e26;}
.recipe-modal-text p { padding-top:10px;}
.recipe-modal-content img {float:right; width:40%;}
.recipe-modal-content > p{ width:640px; padding-top:20px;}
.recipe-modal-content p strong { color:green;}
.recipe-modal-content button {
	float:right; position:absolute; bottom:30px; right:30px; padding:10px 20px;
	border-radius:20px; border:0; outline:0;  background:#e4e4e4;
	cursor:pointer;
}
.recipe-modal-content button:hover { background:#000; color:#FFF;}

/* ===== //UHD recipe-index end ===== */



/* ===== UHD map-index start ===== */

.map { overflow: hidden; position: relative; width: 100vw; height: 100vh; background: url("../imgs/map/map.png") no-repeat center center; background-size: cover; background-attachment: fixed; }
.map-wrap { width: 1400px; margin: 0 auto; height: 100%; }

/* tab */
.map-tabs { position: relative; top: 80px; width: 380px; height: 100vh; background: #fff; }
.map-tabs > input { display: none; }
.map-tabs > label { display: block; float: left; position: relative; width: 50%; height: 60px; text-align: center; line-height: 60px; border-bottom: 1px solid #ccc; cursor: pointer; transition: color .3s; }
.map-tabs > label::after { content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 0; background: #1b571f; transition: all .3s; }
.map-tabs > input:hover + label { color: #1b571f; }
.map-tabs > input:hover + label::after { height: 4px; }
.map-tabs > input:checked + label { color: #1b571f; }
.map-tabs > input:checked + label::after { height: 4px; }

/* checked tab */
.map-tab-select1:checked ~ .map-tab-contents .map-tab-contents1,
.map-tab-select2:checked ~ .map-tab-contents .map-tab-contents2 { opacity: 1; z-index: 29; }

/* tab contents */
.map-tab-contents { position: relative; width: 100%; height: 60px; border-bottom: 1px solid #ccc; }
.map-tab-contents1,
.map-tab-contents2 { position: absolute; width: 100%; height: 100%; opacity: 0; transition: opacity .3s; }

/* contents1 */
.map-tab-contents1 li { position: relative; padding: 0 50px; width: 100%; height: 60px; }
.map-tab-contents1 li > div { position: relative; top: 50%; width: 280px; height: 40px; transform: translateY(-50%); }
.map-tab-contents1 li input { display: inline-block; position: absolute; left: 50%; width: 40px; height: 40px; margin-right: 10px; padding-left: 10px; border-radius: 20px; transform: translateX(-50%); opacity: 0; transition: all .5s; }
.map-tab-contents1 li button { display: inline-block; position: absolute; left: 50%; width: 40px; height: 40px; color: #1b571f; border: 2px solid #1b571f; border-radius: 50%; cursor: pointer; transform: translateX(-50%); transition: all .5s }

.map-tab-contents1 li:hover input { left: 50%; width: 280px; border: 2px solid #1b571f; opacity: 1; }
.map-tab-contents1 li:hover button { left: 100%; color: #fff; background: #1b571f; transform: translateX(-40px); }

/* contents2 */
.map-tab-contents2 > li { padding: 0 50px; }
.map-tab-contents2 .map-button-box li { line-height: 60px; }
.map-tab-contents2 .map-button-box li input { position: absolute; left: -999%; }
.map-tab-contents2 .map-button-box li label { display: inline-block; position: relative; height: 30px; margin-right: 10px; padding: 0 10px 0 35px; font-size: 14px; color: #333; line-height: 30px; background: #fff8e1; border-radius: 10px; cursor: pointer; transition: all .3s; }
.map-tab-contents2 .map-button-box li label::before { content: ""; position: absolute; left: 5px; top: 3px; width: 25px; height: 25px; transition: background-image .3s; }
.map-tab-contents2 .map-button-box li:nth-of-type(1) label::before { background: url("../imgs/map/map-toggle-restaurant-color.png") no-repeat center center; }
.map-tab-contents2 .map-button-box li:nth-of-type(2) label::before { background: url("../imgs/map/map-toggle-coffee-color.png") no-repeat center center; }
.map-tab-contents2 .map-button-box li:nth-of-type(3) label::before { background: url("../imgs/map/map-toggle-bike-color.png") no-repeat center center; }

/* button checked & hover */
.map-tab-contents2 .map-button-box li:hover label,
.map-tab-contents2 .map-button-box input:checked + label { color: #fff; background: #1b571f; }
.map-tab-contents2 .map-button-box li:nth-of-type(1):hover label::before,
.map-tab-contents2 .map-button-box li:nth-of-type(1) input:checked + label::before { background: url("../imgs/map/map-toggle-restaurant.png") no-repeat center center; }
.map-tab-contents2 .map-button-box li:nth-of-type(2):hover label::before,
.map-tab-contents2 .map-button-box li:nth-of-type(2) input:checked + label::before { background: url("../imgs/map/map-toggle-coffee.png") no-repeat center center; }
.map-tab-contents2 .map-button-box li:nth-of-type(3):hover label::before,
.map-tab-contents2 .map-button-box li:nth-of-type(3) input:checked + label::before { background: url("../imgs/map/map-toggle-bike.png") no-repeat center center; }

/* search-list */
.map-search-list { overflow-y: scroll; width: 100%; height: 100%; }
.map-search-list li { position: relative; width: 100%; height: 120px; padding: 0 25px; background: #fff; border-bottom: 1px solid #ccc; transition: background-color .3s; }
.map-search-list li::before { content: ""; position: absolute; left: 50px; top: 20px; width: 25px; height: 25px; background: url("../imgs/map/map-list-place.png") no-repeat center center; transition: background-image .3s; }
.map-search-list li a { height: 100%; padding: 20px 50px 0; }
.map-search-list li p { margin-top: 10px; }

.map-search-list li:hover { background: #e8f5e9; }
.map-search-list li:hover::before { background: url("../imgs/map/map-list-place-color.png") no-repeat center center; }
.map-search-list li:hover h2 { font-weight: bold; color: #1b571f; }
.map-search-list li:hover p { color: #000; }

/* modal */
.map .map-modal { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, .6); z-index: 89; }
.map .map-modal .map-modal-content { position: fixed; left: 50%; top: 50%; width: 700px; height: 800px; padding: 30px 30px 0; background: #fff; transform: translate(-50%, -50%); }

.map-modal-close { position: absolute; right: 30px; width: 40px; height: 40px; text-align: center; }
.map-modal-close img { width: 30px; height: 30px; }
.map-modal-content h2 { margin-bottom: 30px; font-size: 26px; font-weight: bold; }

.map-slider { overflow: hidden; position: relative; width: 640px; height: 380px; background: #ddd; }
.map-slider .map-slide-list { position: absolute; height: 100%; }
.map-slider .map-slide-list .map-slide { width: 640px; height: 380px; }
.map-slider .map-slide-list .map-slide img { width: 100%; height: auto; }

/* map slide prev & next button */
#map-prev, 
#map-next { position: absolute; width: 50px; height: 50px; top: 50%; font-size: 35px; color: #fff; text-align: center; line-height: 45px; background: rgba(0, 0, 0, .7); transform: translateY(-50%); z-index: 9; }
#map-prev { left: 0; }
#map-next { right: 0; }

/* modal content info */
.map-modal-content > ul { float: left; margin-top: 40px; }
.map-modal-content > ul:nth-of-type(1) { width: 90px; text-align: right; }
.map-modal-content > ul:nth-of-type(2) { width: 480px; margin-left: 70px; text-align: left; }
.map-modal-content > ul li { float: none; line-height: 40px; }

/* ===== //UHD map-index end ===== */